/* ———————————————————————————————————————————————————————————————————————— */
/* FONTS */
/* ———————————————————————————————————————————————————————————————————————— */

/* Jost */
@font-face {
	font-family: jost;
	src: url("fonts/jost.ttf");
	font-weight: 100 900;
}
@keyframes preview-jost {
	0% {
		font-variation-settings: "wght" 400, "ital" 0.00;
	}
	100% {
		font-variation-settings: "wght" 900, "ital" 2.00;
	}
}
[data-font="jost"] .menubox-grid-item-preview {
	font-family: jost, sans-serif;
}
[data-font="jost"]:hover .menubox-grid-item-preview {
	animation: 1s preview-jost infinite alternate ease-in-out;
}

/* Bashful */
@font-face {
	font-family: bashful;
	src: url("fonts/bashful.ttf");
}
@keyframes preview-bashful {
	0% {
		font-variation-settings: "BASH" 0;
	}
	100% {
		font-variation-settings: "BASH" 100;
	}
}
[data-font="bashful"] .menubox-grid-item-preview {
	font-family: bashful, sans-serif;
}
[data-font="bashful"]:hover .menubox-grid-item-preview {
	animation: 1s preview-bashful infinite alternate ease-in-out;
}

/* PowerPack */
@font-face {
	font-family: powerpack;
	src: url("fonts/powerpack.ttf");
}
@keyframes preview-powerpack {
	0% {
		font-variation-settings: "chrg" 0, "powr" 0;
	}
	20% {
		font-variation-settings: "chrg" 0, "powr" 100;
	}
	80% {
		font-variation-settings: "chrg" 100, "powr" 100;
	}
	100% {
		font-variation-settings: "chrg" 100, "powr" 0;
	}
}
[data-font="powerpack"] .menubox-grid-item-preview {
	font-family: powerpack, sans-serif;
}
[data-font="powerpack"]:hover .menubox-grid-item-preview {
	animation: 4s preview-powerpack infinite alternate ease-in-out;
}

/* That Then This */
@font-face {
	font-family: thatthenthis;
	src: url("fonts/thatthenthis.ttf");
}
@keyframes preview-thatthenthis {
	0% {
		font-variation-settings: "VARI" 0, "DIST" 0;
	}
	25% {
		font-variation-settings: "VARI" 100, "DIST" 0;
	}
	50% {
		font-variation-settings: "VARI" 100, "DIST" 100;
	}
	75% {
		font-variation-settings: "VARI" 0, "DIST" 100;
	}
	100% {
		font-variation-settings: "VARI" 0, "DIST" 0;
	}
}
[data-font="that-then-this"] .menubox-grid-item-preview {
	font-family: thatthenthis, sans-serif;
}
[data-font="that-then-this"]:hover .menubox-grid-item-preview {
	animation: 2s preview-thatthenthis infinite alternate ease-in-out;
}

/* Mini Mochi */
@font-face {
	font-family: minimochi;
	src: url("fonts/minimochi.ttf");
}
@keyframes preview-minimochi {
	0% {
		font-variation-settings: "STCH" 50, "FLAV" 0, "SLCE" 0;
	}
	20% {
		font-variation-settings: "STCH" 0, "FLAV" 0, "SLCE" 0;
	}
	40% {
		font-variation-settings: "STCH" 100, "FLAV" 100, "SLCE" 0;
	}
	60% {
		font-variation-settings: "STCH" 0, "FLAV" 100, "SLCE" 100;
	}
	80% {
		font-variation-settings: "STCH" 100, "FLAV" 0, "SLCE" 100;
	}
	100% {
		font-variation-settings: "STCH" 50, "FLAV" 0, "SLCE" 0;
	}
}
[data-font="mini-mochi"] .menubox-grid-item-preview {
	font-family: minimochi, sans-serif;
}
[data-font="mini-mochi"]:hover .menubox-grid-item-preview {
	animation: 4s preview-minimochi infinite alternate ease-in-out;
}

/* Dreidel */
@font-face {
	font-family: dreidel;
	src: url("fonts/dreidel.ttf");
}
@keyframes preview-dreidel {
	0% {
		font-variation-settings: "spin" -45;
	}
	100% {
		font-variation-settings: "spin" 405;
	}
}
[data-font="dreidel"] .menubox-grid-item-preview {
	font-family: dreidel, sans-serif;
}
[data-font="dreidel"]:hover .menubox-grid-item-preview {
	animation: 3s preview-dreidel infinite alternate ease-in-out;
}

/* Galapagos */
@font-face {
	font-family: galapagos;
	src: url("fonts/galapagos.ttf");
}
@keyframes preview-galapagos {
	0% {
		font-variation-settings: "wght" 400, "shll" 0;
	}
	50% {
		font-variation-settings: "wght" 400, "shll" 100;
	}
	100% {
		font-variation-settings: "wght" 900, "shll" 100;
	}
}
[data-font="galapagos"] .menubox-grid-item-preview {
	font-family: galapagos, sans-serif;
	font-feature-settings: "ss01" 1, "ss06" 1;
}
[data-font="galapagos"]:hover .menubox-grid-item-preview {
	animation: 2s preview-galapagos infinite alternate ease-in-out;
}

/* AUTHENTIC Remixed */
@font-face {
	font-family: authenticremixed;
	src: url("fonts/authenticremixed.ttf");
}
@keyframes preview-authenticremixed {
	0% {
		font-variation-settings: "xaxi" 0, "yaxi" 0;
	}
	15% {
		font-variation-settings: "xaxi" 100, "yaxi" 0;
	}
	30% {
		font-variation-settings: "xaxi" 100, "yaxi" -100;
	}
	45% {
		font-variation-settings: "xaxi" -100, "yaxi" -100;
	}
	60% {
		font-variation-settings: "xaxi" -100, "yaxi" 100;
	}
	75% {
		font-variation-settings: "xaxi" 100, "yaxi" 100;
	}
	100% {
		font-variation-settings: "xaxi" 0, "yaxi" 0;
	}
}
[data-font="authentic-remixed"] .menubox-grid-item-preview {
	font-family: authenticremixed, sans-serif;
}
[data-font="authentic-remixed"]:hover .menubox-grid-item-preview {
	animation: 3s preview-authenticremixed infinite alternate ease-in-out;
}

/* VFW */
@font-face {
	font-family: vfw;
	src: url("fonts/vfw.ttf");
}
@keyframes preview-vfw {
	0% {
		font-variation-settings: "ANIM" 0, "PIXL" 0;
	}
	20% {
		font-variation-settings: "ANIM" 100, "PIXL" 0;
	}
	40% {
		font-variation-settings: "ANIM" 100, "PIXL" 100;
	}
	60% {
		font-variation-settings: "ANIM" 0, "PIXL" 100;
	}
	80% {
		font-variation-settings: "ANIM" 0, "PIXL" 0;
	}
}
[data-font="vfw"] .menubox-grid-item-preview {
	font-family: vfw, sans-serif;
}
[data-font="vfw"]:hover .menubox-grid-item-preview {
	animation: 3s preview-vfw infinite ease-in-out;
}



/* ———————————————————————————————————————————————————————————————————————— */
/* JOST REMIXES */
/* ———————————————————————————————————————————————————————————————————————— */

[data-font="jost-remix"] .menubox-grid-item-preview {
	font-family: jost, sans-serif;
}
[data-font="jost-remix"]:hover .menubox-grid-item-preview {
	font-variation-settings: "VARI" 100;
	animation: 2s preview-jostremix infinite linear;
}
@keyframes preview-jostremix {
	20% {
		font-family: jost-yl, sans-serif;
	}
	40% {
		font-family: jost-jc, sans-serif;
	}
	60% {
		font-family: jost-pointy, sans-serif;
	}
	80% {
		font-family: jost-ml, sans-serif;
	}
}

[data-font="jost-amputation"] .menubox-grid-item-preview {
	font-family: jost-amputation, sans-serif;
}
[data-font="jost-kilter"] .menubox-grid-item-preview {
	font-family: jost-kilter, sans-serif;
}
[data-font="jost-pointy"] .menubox-grid-item-preview {
	font-family: jost-pointy, sans-serif;
}
[data-font="jost-squint"] .menubox-grid-item-preview {
	font-family: jost-squint, sans-serif;
}
[data-font="jost-jc"] .menubox-grid-item-preview {
	font-family: jost-jc, sans-serif;
}
[data-font="jost-scone"] .menubox-grid-item-preview {
	font-family: jost-scone, sans-serif;
}
[data-font="jost-mmb"] .menubox-grid-item-preview {
	font-family: jost-mmb, sans-serif;
}
[data-font="jost-ml"] .menubox-grid-item-preview {
	font-family: jost-ml, sans-serif;
}
[data-font="jost-negativespace"] .menubox-grid-item-preview {
	font-family: jost-negativespace, sans-serif;
}
[data-font="jost-sleepy"] .menubox-grid-item-preview {
	font-family: jost-sleepy, sans-serif;
}
[data-font="jost-yl"] .menubox-grid-item-preview {
	font-family: jost-yl, sans-serif;
}
.jost-remix:hover .menubox-grid-item-preview {
	animation: 1s preview-jostremix infinite alternate ease-in-out;
}


@font-face {
	font-family: jost-amputation;
	src: url("fonts/remixes/jost-amputation.ttf");
}
@font-face {
	font-family: jost-kilter;
	src: url("fonts/remixes/jost-kilter.ttf");
}
@font-face {
	font-family: jost-pointy;
	src: url("fonts/remixes/jost-pointy.ttf");
}
@font-face {
	font-family: jost-squint;
	src: url("fonts/remixes/jost-squint.ttf");
}
@font-face {
	font-family: jost-jc;
	src: url("fonts/remixes/jost-jc.ttf");
}
@font-face {
	font-family: jost-scone;
	src: url("fonts/remixes/jost-scone.ttf");
}
@font-face {
	font-family: jost-mmb;
	src: url("fonts/remixes/jost-mmb.ttf");
}
@font-face {
	font-family: jost-ml;
	src: url("fonts/remixes/jost-ml.ttf");
}
@font-face {
	font-family: jost-negativespace;
	src: url("fonts/remixes/jost-negativespace.ttf");
}
@font-face {
	font-family: jost-sleepy;
	src: url("fonts/remixes/jost-sleepy.ttf");
}
@font-face {
	font-family: jost-yl;
	src: url("fonts/remixes/jost-yl.ttf");
}